<div class="card-columns animated fadeIn">
    <div (click)="verArtista(item)" class="card bg-dark puntero" *ngFor="let item of items">
      <img [src]="item.images | noimage" class="card-img-top" [alt]="item.name">
      <div class="card-body">
        <h5 class="card-title text-white">{{ item.name }}</h5>
        <p class="card-text d-flex justify-content-center">
          <span class="badge badge-pill badge-secondary" *ngFor="let artist of item.artists">{{ artist.name }}</span>
        </p>
      </div>
    </div>
  </div>